:root{
    --color-green: #31c48d;
    --color-peach: #F8B195;
    --color-dark-pink: #C06C84;
    --color-dark-purple: #6c5b7b;
    --color-light-grey: #d2d6dc;
}

*{
    box-sizing: border-box;
}

html{
    height: 100vh;
}

body{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    background: var(--color-dark-purple);
    color: var(--color-white);
    font-family: sans-serif;

}

/*Header*/

.Header{
    text-align: center;
    background: var(--color-dark-pink);
}

.Header__title{
    font-family: Caveat, cursive;
    font-size: 4rem;
    font-weight: 900;
    color: var(--color-peach);
}
/* Aside */

aside{
  font-family: cursive;
  background: var(--color-green);
  color: var(--color-light-grey);
}
/* Controls */
.Controls {
    display: flex;
      
}
/*Counter */

.Counter {
    background: var(--color-dark-pink);
}

.Counter__value
{
    width:100%; 
    height: 15rem;
    text-align: center;
    font-family: cursive;
    font-size: 6rem;
    background: none;
    color: var(--color-peach);
    border-width: 0;
    border-bottom: 1px solid var(--color-light-grey);
 
}

.Counter__actions{
    display: flex;
}

.Counter__button{
    background: none;
    width:50%;
    border-width: 0;
    color: var(--color-light-grey);
    font-size: 3rem;
    height: 5rem;
    transition: transform 0.3s;
    transform: translateY(0%);
}

.Counter__button:disabled {
      opacity: 0.2;
}
.Counter__button:active {
    background: var(--color-dark-purple);
    transform: translateY(2%);
}

.Counter__button_add, .Counter__button_subtract{
    margin: 1rem;
    border: 2px solid var(--color-light-grey);
   
}


.Footer{
    background: var(--color-dark-pink);
    color: var(--color-peach);
    padding: 2rem;
    font-size: 0.9rem;
    text-align: center;

    

}

.Footer__link{

    color: var(--color-peach);
    text-decoration: none;
    cursor: pointer;
    font-family: Caveat, cursive;
    font-size: 1rem;
}